@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

hr {
    margin: 15px;
}

html, body {
    height: 100vh;
}

body {
    background: black linear-gradient(to bottom, var(--cor2), var(--cor5)) center center / cover no-repeat fixed;
}

main {
    margin: 30px auto;
    padding: 15px;
    width: 85vw;
    max-width: 992px;
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

main > section > h1 {
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    color: var(--cor6);
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.544);
    transform: translate(0px, 5px);
    border-radius: 0px 0px 15px 15px;
}

.newsPaper {
    transform: translate(0px, 5px);
}

main > section > h2 {
    padding: 25px;
}

main > section > p {
    padding: 15px;
    text-align: center;
    font-size: 0.9em;
}

#contents {
    width: 100%;
    height: 900px;
}

.pageid {
    display: block;
    text-align: center;
    list-style: none;

}