@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

hr {
    margin: 15px;
}

main > section > h1 {
    padding: 20px;
    font-size: 2.5em;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    color: var(--cor5);
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px 7px rgb(0, 0, 0);
    transform: translate(0px, 5px);
    border-radius: 0px 0px 15px 15px;
}


main > section > h2 {
    padding: 25px;
}

main > section > p {
    padding: 15px;
    text-align: center;
    font-size: 0.9em;
}

.container {
    margin: 15px auto;
    width: 90vw;
    display: block;
    text-decoration: none;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.377);
    border-radius: 10px;
    overflow: hidden;
}

.container:hover {
    transform: translate(-5px, -5px);
    box-shadow: 1px 2px 2px rgb(0, 0, 0);
}

.container > div > h2 {
    padding: 10px;
    padding-bottom: 0px;
    text-shadow: 0px 2px 7px black;
}

h2 {
    color: var(--cor5);
    text-align: center;
}

.conteudo {
    margin: 15px 5px;
    background-color: var(--cor2);
    height: 100px;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
}

.conteudo > p {
    padding: 10px;
    text-align: justify;
    color: var(--cor5);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.157);
}

.page {
    visibility: hidden;
}

.page > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    bottom: 15px;
    padding: 15px;
}

.page > ul > li {
    padding: 8px;
}

.page > ul > li > a {
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
}

.page > ul > li > a:hover {
    text-decoration: none;
}

.backButton {
    margin: 25px;
    display: block;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 3px black;
    color: var(--cor4);
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
    padding: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.377);
}

.backButton:hover {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    color: var(--cor4);
}


.infomations {
    height: 790px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

.infomations > h2 {
    padding: 25px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.643);
    text-shadow: 1px 1px 6px black;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
}

.infomations > p, .infomations > ul {
    margin: 15px;
    padding: 15px;
    color: var(--cor4);
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.643);
    list-style-type: none;
    text-shadow: 1px 1px 2px black;
}

.infomations > ul > p {
    margin: 15px;
}

.infomations > ul > li::before {
    content: '> \00A0 ';
}

.infomations > ul > li {
    padding: 3px 15px;
}


@media screen and (min-width: 768px){
    .container > div > h2 {
        font-size: 1.8em;
    }
    .conteudo > p {
        font-size: 1.3em;
    }
}


@media screen and (min-width: 1280px) {
    .container > div > h2 {
        font-size: 2em;
    }
    .conteudo > p {
        font-size: 1.6em;
}
}